{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ project.name }}</h1>

    {% if project.description %}
        <p>{{ project.description }}</p>
    {% endif %}

    <h2>Issues table</h2>

    {% if issues_list %}
    <table>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Status</th>
            <th>Trackers</th>
            <th>Priority</th>
            <th>Author</th>
            <th>Start Date</th>
            <th>Time</th>
        </tr>
        {% for issue in issues_list %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.subject }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.status.name }}</td>
                <td>{{ issue.tracker.name }}</td>
                <td>{{ issue.priority.name }}</td>
                <td>{{ issue.author.name }}</td>
                <td>{{ issue.start_date }}</td>
                <td><a href="{{ path('time_entries', {'issueId': issue.id}) }}">Details</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No issues yet</p>
    {% endif %}
{% endblock %}


